body {
  margin: 0;
  font-family: 'Verdana', sans-serif; /* Cambiamos la fuente a Verdana para todo el cuerpo */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8A6FD6; /* Cambiamos el color de fondo a un tono de púrpura más claro */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root, html {
  background-color: #8A6FD6; /* Aseguramos que el color de fondo sea consistente en toda la página */
}

body h1 {
  font-family: 'Verdana';
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF; /* Cambiamos el color del título a blanco para que contraste con el fondo */
}
